
.DS_Store

.build/

.swiftpm/

Sources/MLXEdgeLLMExample/MLXEdgeLLMExample.xcodeproj/xcuserdata/

Sources/MLXEdgeLLMExample/MLXEdgeLLMExample.xcodeproj/project.xcworkspace/xcuserdata/

Sources/AuraExample/AuraExample.xcodeproj/project.xcworkspace/xcuserdata/

Sources/AuraExample/AuraExample.xcodeproj/xcuserdata/
